In [2]:
#! pip install iotbr==0.2.0
from iotbr import tru as tru

In [3]:
# 1) Descrever as variáveis das tabelas TRU
tru.var_descriptions

,Unnamed: 0,var,sheet,type,description,tru12_shape,tru20_shape,tru51_shape,tru68_shape
0,0,OT_pm,oferta,vector,Oferta total a preço de consumidor,"(12, 1)","(20, 1)","(107, 1)","(128, 1)"
1,1,MG_com,oferta,vector,Margem de comércio,"(12, 1)","(20, 1)","(107, 1)","(128, 1)"
2,2,MG_tra,oferta,vector,Margem de transporte,"(12, 1)","(20, 1)","(107, 1)","(128, 1)"
3,3,I_imp,oferta,vector,Imposto de importação,"(12, 1)","(20, 1)","(107, 1)","(128, 1)"
4,4,IPI,oferta,vector,IPI,"(12, 1)","(20, 1)","(107, 1)","(128, 1)"
5,5,ICMS,oferta,vector,ICMS,"(12, 1)","(20, 1)","(107, 1)","(128, 1)"
6,6,OI_liq_Sub,oferta,vector,Outros impostos menos subsídios,"(12, 1)","(20, 1)","(107, 1)","(128, 1)"
7,7,TI_liq_sub,oferta,vector,Total de impostos líquidos de subsídios,"(12, 1)","(20, 1)","(107, 1)","(128, 1)"
8,8,OT_pb,oferta,vector,Oferta total a preço básico,"(12, 1)","(20, 1)","(107, 1)","(128, 1)"
9,9,P_matrix,producao,matrix,Produção das atividades,"(12, 12)","(20, 20)","(107, 51)","(128, 68)"
10,10,PT,producao,vector,Total do produto,"(12, 1)","(20, 1)","(107, 1)","(128, 1)"
11,11,CIF_FOB,importacao,vector,Ajuste CIF/FOB,"(12, 1) (disponível até 2010)",-,"(107, 1) (disponível até 2010)",-
12,12,M_bens,importacao,vector,Importação de bens,"(12, 1) (disponível até 2010)",-,"(107, 1) (disponível até 2010)",-
13,13,M_serv,importacao,vector,Importação de serviços,"(12, 1) (disponível até 2010)",-,"(107, 1) (disponível até 2010)",-
14,14,CI_matrix,CI,matrix,Consumo intermediário das atividades,"(12, 12)","(20, 20)","(107, 51)","(128, 68)"
15,15,D_ci,CI,vector,Total do produto (Tabela 2 CI),"(12, 1)","(20, 1)","(107, 1)","(128, 1)"
16,16,X_bens,demanda,vector,Exportação de bens,"(12, 1) (disponível até 2010)",-,"(107, 1) (disponível até 2010)",-
17,17,X_serv,demanda,vector,Exportação de serviços,"(12, 1) (disponível até 2010)",-,"(107, 1) (disponível até 2010)",-
18,18,C_g,demanda,vector,Consumo da administração pública,"(12, 1)","(20, 1)","(107, 1)","(128, 1)"
19,19,C_ong,demanda,vector,Consumo das ISFLSF,"(12, 1)","(20, 1)","(107, 1)","(128, 1)"
20,20,C_f,demanda,vector,Consumo das famílias,"(12, 1)","(20, 1)","(107, 1)","(128, 1)"
21,21,FBKF,demanda,vector,Formação bruta de capital fixo,"(12, 1)","(20, 1)","(107, 1)","(128, 1)"
22,22,DE,demanda,vector,Variação de estoque,"(12, 1)","(20, 1)","(107, 1)","(128, 1)"
23,23,D_final,demanda,vector,Demanda final,"(12, 1)","(20, 1)","(107, 1)","(128, 1)"
24,24,D_total,demanda,vector,Demanda total,"(12, 1)","(20, 1)","(107, 1)","(128, 1)"
25,25,VA_table,VA,table,Componentes do valor adicionado,"(12, 14)","(20, 14)","(51, 12)","(68, 14)"
26,26,M_bens_serv,importacao,vector,(1) Importação de bens e serviços líquida de a...,"(12, 1)","(20, 1)","(107, 1)","(128, 1)"
27,27,X_bens_serv,demanda,vector,(1) Exportação de bens e serviços líquida de a...,"(12, 1)","(20, 1)","(107, 1)","(128, 1)"

In [4]:
# 2) ler uma variável qualquer dentro da TRU
tru.read_var()
x  = tru.read_var('2019')
x[x.index.str.contains('aére')]

                     PT
produtos
Transporte aéreo  48162

In [7]:
# 3) ler uma variável específica
tru.read_var('2010','51','MG_tra')

                                    MG_tra
produtos
Arroz em casca                         303
Milho em grão                         1255
Trigo em grão e outros cereais         391
Cana-de-açúcar                        1631
Soja em grão                          1637
...                                    ...
Serviços associativos                    0
Serviços domésticos                      0
Educação pública                         0
Saúde pública                            0
Serviço público e seguridade social      0

[107 rows x 1 columns]

In [8]:
# 4) ler ler a variável com outro nível e ano
tru.read_var('2016','12')#.sum()

                                                         PT
produtos
Agropecuária                                         524246
Indústrias extrativas                                198247
Indústrias de transformação                         2833015
Eletricidade e gás, água, esgoto, atividades de...   323992
Construção                                           602485
Comércio                                            1068982
Transporte, armazenagem e correio                    506587
Informação e comunicação                             354572
Atividades financeiras, de seguros e serviços r...   630312
Atividades imobiliárias                              632669
Outras atividades de serviços                       1643275
Administração, defesa, saúde e educação pública...  1223685

In [11]:
# 5) testar se o somatório das variáveis está correto
set1 = ['X_bens_serv', 'M_bens_serv', 'C_g', 'C_ong','C_f','FBKF','DE']
print([tru.read_var('2009',x,set1[0],'t').values.sum() for x in ['12','51']])
print([tru.read_var('2009',x,set1[1],'t').values.sum() for x in ['12','51']])
print([tru.read_var('2020',x,set1[0],'t').values.sum() for x in ['12','20','51','68']])
print([tru.read_var('2020',x,set1[1],'t').values.sum() for x in ['12','20','51','68']])

[361680.47039454733, 361680.47039454733]
[375120.3961856987, 375120.3961856986]
[1252049, 1252049, 1252049, 1252049]
[1206009, 1206009, 1206009, 1206009]